<div>
  <mat-card style="padding-bottom:45px">
    <mat-card-title>

      <h1 style="text-align:center; font-family: 'Mali', cursive;"> My Classes</h1>
    </mat-card-title>
  </mat-card>
  <div style="width: 30%; background-color:lightblue; padding:1%; float:left;">
    <mat-accordion>
  
      <mat-expansion-panel>

        <mat-expansion-panel-header>

          <mat-panel-title>

            Add a new class

          </mat-panel-title>



        </mat-expansion-panel-header>
        <span>

          <input id="name" type="text" [(ngModel)]="name" />

          <button class="b1"(click)="getData()">+Add </button>
        </span>

      </mat-expansion-panel>
          <mat-expansion-panel *ngFor=" let class of classes">
            <mat-expansion-panel-header>

              <mat-panel-title style="font-family: 'Mali', cursive;">
                {{class.name}}
              </mat-panel-title>

            </mat-expansion-panel-header>
            <ul *ngFor=" let mag of class.magazines">
              <li style="font-family: 'Mali', cursive;" (click)="accessStudents(class.name,mag)">{{mag}}</li>

            </ul>
          </mat-expansion-panel>

</mat-accordion>




  </div>
  <div [hidden]="!curClass" style="width: 70%; background-color:lightblue; padding:1%; float:left">
    <mat-card style="background-color:white; overflow:-webkit-paged-x;font-family: 'Mali', cursive;">
      <button class="btn"  matTooltip="Add a new student">+Add</button>
      <p style="text-align:center">{{curClass}}<br>{{curMag}}</p>
     



      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th style="font-family: 'Mali', cursive;" mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td style="font-family: 'Mali', cursive;" mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
        <!--  First Name Column -->
        <ng-container matColumnDef="firstName">
          <th style="font-family: 'Mali', cursive;" mat-header-cell *matHeaderCellDef mat-sort-header>  First Name </th>
          <td style="font-family: 'Mali', cursive;" mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>
        <!-- Last Name Column -->
        <ng-container matColumnDef="lastName">
          <th style="font-family: 'Mali', cursive;" mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
          <td style="font-family: 'Mali', cursive;" mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
        <!-- Chapter 1 Column -->
        <ng-container matColumnDef="chapter">
          <th style="font-family: 'Mali', cursive;" mat-header-cell *matHeaderCellDef mat-sort-header> Chapter 1 </th>
          <td style="font-family: 'Mali', cursive;" mat-cell *matCellDef="let element"> {{element.chapter}} </td>
        </ng-container>
        <!-- Total Column -->
        <ng-container matColumnDef="total">
          <th style="font-family: 'Mali', cursive;" mat-header-cell *matHeaderCellDef mat-sort-header> Total</th>
          <td style="font-family: 'Mali', cursive;" mat-cell *matCellDef="let element"> {{element.chapter}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </mat-card>
  </div>
</div>

