<app-menu [user]="user"></app-menu>
<div class="jumbotron">

  <div *ngIf="user.auth == 'Student'">
    <mat-card style="padding-bottom:45px">
      <mat-card-title>
        <h1 style="text-align:center; font-family: 'Mali', cursive;"> My Progress</h1>
      </mat-card-title>
    </mat-card>
    <div style="width: 30%; background-color:lightblue; padding:1%; float:left;">
      <mat-accordion>
        <mat-expansion-panel *ngFor=" let mag of magazines">
          <mat-expansion-panel-header>
            <mat-panel-title style="font-family: 'Mali', cursive;" (click)="changeMagazine(mag.id)">
              {{mag.name}}
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div *ngIf="isScore" style="width: 70%; background-color:lightblue; padding:1%; float:left">
      <mat-card style="background-color:white; overflow:-webkit-paged-x;font-family: 'Mali', cursive;">
        <p style="text-align:center">
          {{magazineName}}
        </p>
        <!--Table goes below-->
        <table mat-table [dataSource]="haha" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Chapter Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef> Score </th>
            <td mat-cell *matCellDef="let element"> {{element.score}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
        </table>
        <br />
        <div style="text-align:center"><h4>Total score for this magazine: <b>{{totalScore | number : '1.1-1'}}</b></h4></div>
      </mat-card>
    </div>
  </div>



  <div *ngIf="user.auth == 'Teacher'">
    <mat-card style="padding-bottom:45px">
      <mat-card-title>

        <h1 style="text-align:center; font-family: 'Mali', cursive;"> My Classes</h1>
      </mat-card-title>
    </mat-card>
    <div style="width: 30%; background-color:lightblue; padding:1%; float:left;">
      <mat-accordion *ngIf="user.auth=='Teacher'">

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Add a new class
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form [formGroup]="classForm" (ngSubmit)="addClass()" style="margin-bottom:40px;">
            <mat-form-field class="example-full-width" [ngClass]="{ 'is-invalid': submitted && classFunc.name.errors }">
              <input matInput placeholder="Class Name" formControlName="name">
              <div *ngIf="submitted && classFunc.name.errors" class="error-msg">
                <div *ngIf="classFunc.name.errors.required">Class name is required.</div>
              </div>
            </mat-form-field>
            <mat-form-field class="example-full-width" [ngClass]="{ 'is-invalid': submitted && classFunc.grade.errors }">

              <mat-select placeholder="Grade" formControlName="grade">
                <mat-option *ngFor="let grade of grades" [value]="grade.value">
                  {{grade.desc}}
                </mat-option>
              </mat-select>
              <div *ngIf="submitted && classFunc.grade.errors" class="error-msg">
                <div *ngIf="classFunc.grade.errors.required">Grade is required.</div>
              </div>
            </mat-form-field>
            <div *ngIf="errorMessage" class="error-msg">
              {{errorMessage}}
            </div>
            <br />
            <p style="float:left"><button mat-raised-button color="primary" type="submit">+Add</button></p>
            <br />
          </form>
        </mat-expansion-panel>
        <mat-expansion-panel *ngFor=" let class of classes">
          <mat-expansion-panel-header (click)="getMagazines(class.ID)">
            <mat-panel-title style="font-family: 'Mali', cursive;">
              {{class.name}}
            </mat-panel-title>
            <mat-panel-description>
              {{class.grade}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul *ngFor=" let mag of magazinesNames">
            <li style="font-family: 'Mali', cursive;" (click)="accessStudents(class.name,mag)">{{mag.name}}</li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <!--<div [hidden]="!curClass" style="width: 70%; background-color:lightblue; padding:1%; float:left; overflow-y: scroll; height:-webkit-fill-available">
      <mat-card style="background-color:white; overflow-y: scroll; height: 400px;font-family: 'Mali', cursive;">-->

    <div [hidden]="!curClass" style="width: 70%; background-color:lightblue; padding:1%; float:left;overflow-y: scroll; height:-webkit-fill-available">
      <mat-card style="background-color:white; overflow-y:scroll;font-family: 'Mali', cursive;height: 500px;">
        <p style="text-align:center">
          {{curClass}}<br>{{curMag}}
        </p>
        <form class="example-form" style="text-align:right;">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Add Student Email">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="addStudent">+Add</button>
        </form>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th style="font-family: 'Mali', cursive;" mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td style="font-family: 'Mali', cursive;" mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
          <!--  First Name Column -->
          <ng-container matColumnDef="firstName">
            <th style="font-family: 'Mali', cursive;" mat-header-cell *matHeaderCellDef mat-sort-header>  First Name </th>
            <td style="font-family: 'Mali', cursive;" mat-cell *matCellDef="let element"> {{element.firstName}} </td>
          </ng-container>
          <!-- Last Name Column -->
          <ng-container matColumnDef="lastName">
            <th style="font-family: 'Mali', cursive;" mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
            <td style="font-family: 'Mali', cursive;" mat-cell *matCellDef="let element"> {{element.lastName}} </td>
          </ng-container>
          <!-- Chapter 1 Column -->
          <ng-container matColumnDef="chapter">
            <th style="font-family: 'Mali', cursive;" mat-header-cell *matHeaderCellDef mat-sort-header> Chapter 1 </th>
            <td style="font-family: 'Mali', cursive;" mat-cell *matCellDef="let element"> {{element.chapter}} </td>
          </ng-container>
          <!-- Total Column -->
          <ng-container matColumnDef="total">
            <th style="font-family: 'Mali', cursive;" mat-header-cell *matHeaderCellDef mat-sort-header> Total</th>
            <td style="font-family: 'Mali', cursive;" mat-cell *matCellDef="let element"> {{element.chapter}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #scheduledOrdersPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        <!--<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>-->
      </mat-card>

    </div>

  </div>
