<app-menu [user]="user"></app-menu>
<div class="jumbotron">

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <mat-card style="padding-bottom:150px;font-family: 'Mali', cursive;text-align:center">
      <mat-card-title>
        Please Sign in!
      </mat-card-title>

      <mat-card style="width:50%;background-color:aliceblue;margin-left:25%">
        <div class="example-container">

          <mat-form-field id="form" [ngClass]="{ 'is-invalid': submitted && f.schoolChoose.errors }">
            <mat-select placeholder="Choose your School" formControlName="schoolChoose">
              <mat-option *ngFor="let school of schools" [value]="school.value">
                {{school.viewValue}}
              </mat-option>
            </mat-select>
            <div *ngIf="submitted && f.schoolChoose.errors" class="error-msg">
              <div *ngIf="f.schoolChoose.errors.required">School is required.</div>
            </div>
          </mat-form-field>

          <mat-form-field id="form" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <input matInput placeholder="Username" type="text" formControlName="name">
            <div *ngIf="submitted && f.name.errors" class="error-msg">
              <div *ngIf="f.name.errors.required">Name is required.</div>
            </div>
          </mat-form-field>

          <mat-form-field id="form" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <input type="password" matInput placeholder="Password" formControlName="password">
            <div *ngIf="submitted && f.password.errors" class="error-msg">
              <div *ngIf="f.password.errors.required">Password is required.</div>
              <div *ngIf="f.password.errors.minlength">Password should be at least 6 characters.</div>
            </div>
          </mat-form-field>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" >
<mat-card style="padding-bottom:150px">
  <mat-card-title>
     Please Sign in!
  </mat-card-title>

  <mat-card style=" width:50%;background-color:aliceblue">
    <div class="example-container">

      <mat-form-field [ngClass]="{ 'is-invalid': submitted && f.schoolChoose.errors }">
        <mat-select placeholder="Choose your School" formControlName="schoolChoose">
          <mat-option *ngFor="let school of schools" [value]="school.value" >
            {{school.viewValue}}
          </mat-option>
        </mat-select>
        <div *ngIf="submitted && f.schoolChoose.errors" class="error-msg">
          <div *ngIf="f.schoolChoose.errors.required">School is required.</div>
        </div>
      </mat-form-field>

      <mat-form-field [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
        <input matInput placeholder="Username" type="text" formControlName="name">
        <div *ngIf="submitted && f.name.errors" class="error-msg">
          <div *ngIf="f.name.errors.required">Name is required.</div>
        </div>
      </mat-form-field>

      <mat-form-field [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        <input type="password" matInput placeholder="Password" formControlName="password">
        <div *ngIf="submitted && f.password.errors" class="error-msg">
          <div *ngIf="f.password.errors.required">Password is required.</div>
          <div *ngIf="f.password.errors.minlength">Password should be at least 6 characters.</div>
        </div>
      </mat-form-field>



    </div>


    <button mat-raised-button id="form" color="primary" type="submit" [disabled]="loading" (click)="onSubmit()" >Sign In</button>

    <!--
    <button mat-raised-button color="primary" (click)="signin()">Sign in</button>
  -->



      </mat-card>

    </mat-card>






  </form>
  <!--<p>
    Form Value: {{ profileForm.value | json }}
  </p>

  <p>
    Form Status: {{ profileForm.status }}
  </p>-->
</div>

</mat-card>
</form>
