.grade {
  padding-top: 2%;
  padding-left: 3%;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-image: linear-gradient(to bottom right, #17a2b8, #28a745);
  color: white;
  text-align: center;
  margin-right: 10px;
  font-size: 40px;
  display: inline-flex;
}
.magazine-cover {
  height: 200px;
  margin-right: 20px;
  display: inline-flex;
}

