<div *ngIf="!admin" class="container">
  <h2>Chapter1</h2>
  <h3>1.1 What are number.</h3>
  <p id="left">
    A number is a basic unit of mathematics. Numbers are used for counting,
    measuring, and comparing amounts. A number system is a set of symbols,
    or numerals, that are used to represent numbers. The most common number system
    uses 10 symbols called digits—0, 1, 2, 3, 4, 5, 6, 7, 8, and 9—and combinations of these digits.
  </p>
    
    <img id="pic" src="assets/numbers.png">
    <iframe style="width:50%; float:left;height:255px" src="https://www.youtube.com/embed/yxAIBFsRpqU"
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  
  <h3>1.2 How numbers help us.</h3>
  <p id="left">
    Numbers play an important role in our lives.
    Almost all the things we do involve numbers and Mathematics.
    Whether we like it or not, our life revolves in numbers since the day we were born.
    There are numerous numbers directly or indirectly connected to our lives.
    The following are some uses of numbers in our daily life:
  </p>
    <ol id="left">
      <li>Calling a member of a family or a friend using mobile phone.</li>
      <li>Weighing fruits, vegetables, meat, chicken, and others in market.</li>

      <li>Using elevators to go places or floors in the building.</li>

      <li>Looking at the price of discounted items in a shopping mall.</li>

      <li>Telling time you spent on work or school.</li>

    </ol>
  
  <h3>1.3Types of numbers.</h3>
</div>
<div *ngIf="admin" class="container">
  <!--Form1-->
  <!--enter chapter name-->
  <!--enter chapter type-->
  <!--submit-->

  <!--when submit-->
  <!--Form2-->
  <!--Enter title-->
  <!--Enter content-->
  <!--Add picture if any-->
  <!--Add video if any-->
  <!--Submit-->

  <!--when submit-->
  <!--Add another Form2 or Add Assignment-->
  <!--if Form2 repeat Form2-->
  <!--if Assignment show Form3-->

  <!--Form3-->
  <!--Add question-->
  <!--Add pic if any-->
  <!--Add video if any-->
  <!--Add correct answer-->
  <!--Submit-->

  <!--Assignment-->
  <!--Add question-->
  <!--Add picture if any-->
  <!--Add correct answer-->
  <!--Submit-->

  <!--Would u like to add another Assignment?-->

  </div>
<div *ngIf="!admin && fromDB" >
  <div *ngFor="let chapterContent of chapters[0].content" class="container">
 
  <h3>{{chapterContent.title}}</h3>
  <p id="left">
    {{chapterContent.content}}
    </p>
  <img id="pic" src="assets/numbers.png">
  <iframe style="width:50%; float:left;height:255px" src="https://www.youtube.com/embed/yxAIBFsRpqU"
          frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <h3>1.2 How numbers help us.</h3>
  <p id="left">
    Numbers play an important role in our lives.
    Almost all the things we do involve numbers and Mathematics.
    Whether we like it or not, our life revolves in numbers since the day we were born.
    There are numerous numbers directly or indirectly connected to our lives.
    The following are some uses of numbers in our daily life:
  </p>
  <ol id="left">
    <li>Calling a member of a family or a friend using mobile phone.</li>
    <li>Weighing fruits, vegetables, meat, chicken, and others in market.</li>
    <li>Using elevators to go places or floors in the building.</li>
    <li>Looking at the price of discounted items in a shopping mall.</li>
    <li>Telling time you spent on work or school.</li>
  </ol>
  <h3>1.3Types of numbers.</h3>
</div>
  </div>
