<!--<div *ngIf="user.auth == 'Admin'" class="container">-->
  <!--Form1-->
  <!--enter chapter name-->
  <!--enter chapter type-->
  <!--submit-->
  <mat-vertical-stepper [linear]="!isLinear" #stepper>
    <mat-step [stepControl]="chapterForm">
      <form [formGroup]="chapterForm" (ngSubmit)="addChapter()">
        <ng-template matStepLabel>Fill out chapter information</ng-template>
        <div class="example-container">

          <mat-form-field [ngClass]="{ 'is-invalid': f.chapterName.errors }">
            <input matInput placeholder="Chapter Name" type="text" formControlName="chapterName">
            <div *ngIf="f.chapterName.errors" class="error-msg">
              <div *ngIf="f.chapterName.errors.required">Chapter Name is required.</div>
            </div>
          </mat-form-field>

          <br/>

          <mat-form-field [ngClass]="{ 'is-invalid': f.chapterType.errors }">
            <input matInput placeholder="Chapter Type" type="text" formControlName="chapterType">
            <div *ngIf="f.chapterType.errors" class="error-msg">
              <div *ngIf="f.chapterType.errors.required">Chapter Type is required.</div>
            </div>
          </mat-form-field>
          <br/>
          <button mat-button matStepperNext>Next</button>
          Form Value: {{ chapterForm.value | json }}
        <p>
          Form Status: {{ chapterForm.status }}
        </p>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="contentForm">
        <form [formGroup]="contentForm" (ngSubmit)="addContent()">
        <ng-template matStepLabel>Fill out your content for chapter</ng-template>
        <div class="example-container">
          <br/>
          <mat-form-field [ngClass]="{ 'is-invalid': f2.title.errors }">
            <input matInput placeholder="Title" type="text" formControlName="title" />
            <div *ngIf="f2.title.errors" class="error-msg">
              <div *ngIf="f2.title.errors.required">Title is required.</div>
            </div>
          </mat-form-field>
          <br/>

          <mat-form-field [ngClass]="{ 'is-invalid': f2.content.errors }">
            <textarea matInput placeholder="Content" formControlName="content"></textarea>
            <div *ngIf="f2.content.errors" class="error-msg">
              <div *ngIf="f2.content.errors.required">Content is required.</div>
            </div>
          </mat-form-field>

          <div>
            If any photo, video or files to add:
          </div>
          <div ng-app="app" ng-controller="AppCtrl">
    <input name="myFile" type="file" />
</div>
          <input type="file" ng-model="vm.uploadme" />
        </div>
        <br/>
        <div>
          <button mat-button matStepperPrevious [disabled]="addAnother">Back</button>
          <button mat-button (click)="addAnotherContent()">+ Another Content</button>
          <button mat-button matStepperNext>Next</button>
          <p>
          Form Value: {{ contentForm.value | json }}
        </p>
        <p>
          Form Status: {{ contentForm.status }}
        </p>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="questionForm">
      <form [formGroup]="questionForm" (ngSubmit)="addQuestion()">
        <ng-template matStepLabel>Add Assignment</ng-template>
        <div class="example-container">
          <mat-form-field [ngClass]="{ 'is-invalid': f3.question.errors }">
            <textarea matInput placeholder="Question" formControlName="question"></textarea>
            <div *ngIf="f3.question.errors" class="error-msg">
              <div *ngIf="f3.question.errors.required">Question is required.</div>
            </div>
          </mat-form-field>

          <br/>

          <mat-form-field [ngClass]="{ 'is-invalid': f3.option1.errors }">
            <textarea matInput placeholder="Option1" formControlName="option1"></textarea>
            <div *ngIf="f3.option1.errors" class="error-msg">
              <div *ngIf="f3.option1.errors.required">Option1 is required.</div>
            </div>
          </mat-form-field>

          <mat-form-field [ngClass]="{ 'is-invalid': f3.option2.errors }">
            <textarea matInput placeholder="Option2" formControlName="option2"></textarea>
            <div *ngIf="f3.option2.errors" class="error-msg">
              <div *ngIf="f3.option2.errors.required">Option2 is required.</div>
            </div>
          </mat-form-field>

          <mat-form-field [ngClass]="{ 'is-invalid': f3.option3.errors }">
            <textarea matInput placeholder="Option3" formControlName="option3"></textarea>
            <div *ngIf="f3.option3.errors" class="error-msg">
              <div *ngIf="f3.option3.errors.required">Option3 is required.</div>
            </div>
          </mat-form-field>

          <br/>



          <mat-form-field [ngClass]="{ 'is-invalid': f3.correctAnswer.errors }">
            <mat-select placeholder="Choose Correct Answer" formControlName="correctAnswer">
              <mat-option value="option1">{{f3.option1.value}}</mat-option>
              <mat-option value="option2">{{f3.option2.value}}</mat-option>
              <mat-option value="option3">{{f3.option3.value}}</mat-option>
            </mat-select>
            <div *ngIf="f3.correctAnswer.errors" class="error-msg">
              <div *ngIf="f3.correctAnswer.errors.required">Correct Answer is required.</div>
            </div>
          </mat-form-field>

          <br/>

          <div>
            If any photo, video or files to add:
          </div>
          <input type="file" />
        </div>
          <br/>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="addAnotherQuestion()">+ Another Question</button>
          <button mat-button matStepperNext>Next</button>
            Form Value: {{ questionForm.value | json }}

          <p>
            Form Status: {{ questionForm.status }}
          </p>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Want to add Another Chapter</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>


  <!--when submit-->
  <!--Form2-->
  <!--Enter title-->
  <!--Enter content-->
  <!--Add picture if any-->
  <!--Add video if any-->
  <!--Submit-->


  <!--when submit-->
  <!--Add another Form2 or Add Assignment-->
  <!--if Form2 repeat Form2-->
  <!--if Assignment show Form3-->
  <!--Form3-->


  <!--Add question-->
  <!--Add pic if any-->
  <!--Add video if any-->
  <!--Add correct answer-->
  <!--Submit-->
  <!--Assignment-->
  <!--Add question-->
  <!--Add picture if any-->
  <!--Add correct answer-->
  <!--Submit-->
  <!--Would u like to add another Assignment?-->
<!--</div>-->
<!--<div *ngIf="user.auth != 'Admin'">
  <p>Not Parsed {{jsonData}}</p>
  <!--<p>Prased {{jsonData.metadata | json}}</p>-->
<!--  <div *ngFor="let content of chapters[0].content" class="container">
    <h3>{{content.title}}</h3>
    <p id="left">{{content.content}}</p>
    <img id="pic" [src]="content.pic" />
    <iframe style="width:50%; float:left;height:255px" src="https://www.youtube.com/embed/yxAIBFsRpqU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div> -->
