.know-how-footer {
  font-family: 'Mali', cursive;
  background-color: cornflowerblue;
  padding: 2% 0%;
  text-align: center;
  clear: both;
}
.btn {
  font-family: 'Mali', cursive;
  height: 50px;
  padding: 2% 5%;
  text-align:center;
  margin-top:10px;
  
}
