
<mat-card style="padding-bottom:150px">
  <mat-card-title>

    About us!
  </mat-card-title>
  <img mat-card-lg-image src="assets/education.jpg" style="float:left"/>

  <mat-card-subtitle>
    As technology is an integral part of 21st century students’ realities,
    Know-How Web App is an application created for Department of Education
    to provide an educational tool for schools which will be available on
    computers and other electronic devices with internet access. The web
    app will provide books/ magazine information, videos and images covering
    each school grade with online dictionary and information for their convenience.
    Student’s answers will be recorded, graded and analyzed using machine learning
    tool for the future improvements of educational system.


  </mat-card-subtitle>
</mat-card>
