<div *ngIf="user">
  <mat-card style="padding-bottom:10px">
    <mat-card-title>
      <h1 style="text-align:center; font-family: 'Mali', cursive;"> {{magazine.name}}</h1>
    </mat-card-title>
  </mat-card>
  <div style="background-color:lightblue; width: auto; height: -webkit-fill-available; margin-bottom: 8%;">

    <div style="width: 30%;  padding:1%; float:left;">
      <mat-accordion *ngFor="let chapter of chapters">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{chapter.name}}
            </mat-panel-title>
            <mat-panel-description>
              {{chapter.type}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul>
            <li *ngFor="let item of chapter.content">{{item.title}}</li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div style="width: 70%;  padding:1%; float:left;">
      <mat-card style="background-color:white;overflow-y: scroll;height: -webkit-fill-available;">
        <app-chapter></app-chapter>
      </mat-card>
    </div>
  </div>
</div>
<div *ngIf="!user" style="text-align:center">
  Please sign in to see the content of magazine
</div>
