h2 {
  font-family: 'Mali', cursive;
}

h3 {
  font-family: 'Mali', cursive;
}

p {
  font-family: 'Mali', cursive;
}
button {
  width: 150px;
  font-family: 'Mali', cursive;
}
input {
  width: 200px;
  font-family: 'Mali', cursive;
}
label {
  font-family: 'Mali', cursive;
}
